<h1>Sign Up</h1>
<form action = "<%=users_url%>" method="post">
    <label>Enter Email</label>
    <input type="text" name="user[email]" value="<%=@user.email%>">
     <label>Enter Password</label>
    <input type="password" name="user[password]" value="">
    <input type="submit" value="Create User">
    <%=auth_token%>
</form>